@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .primary-color {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-orange-400 to-pink-600  inline-block;
  }
}

.bgGradient {
  background: radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105) 0%, rgb(51, 0, 131) 100.2%); 
  /* backdrop-filter: blur(5px); */
}

.bgSquare {
  height: 350px;
  width: 350px;
  background: rgba( 144, 19, 254, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.bgSquareUp {
	animation-name: bgSquareUp;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes bgSquareUp {
	from {
		top: calc(100vh - 350px);
	}

	to {
    top: -350px;
	}
}
