@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

.custom {
  color: #eef7ff;
}

.custom:hover {
  color: #4d869c;
}

.myButton {
  @apply select-none 
         rounded-lg 
         bg-indigo-500 
         py-3 
         px-6 
         text-center 
         align-middle 
         font-sans 
         text-xs 
         font-bold 
         uppercase 
         text-white 
         shadow-md 
         shadow-indigo-500/20 
         transition-all 
         hover:shadow-lg 
         hover:shadow-indigo-500/40 
         focus:opacity-[0.85] 
         focus:shadow-none 
         active:opacity-[0.85] 
         active:shadow-none 
         disabled:pointer-events-none 
         disabled:opacity-50 
         disabled:shadow-none;
}

.formLabel {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}

.formInput {
  @apply mb-2 
    bg-gray-50 border 
    border-gray-300 
    text-gray-900 
    text-sm 
    rounded-lg 
    focus:ring-blue-300 
    focus:border-blue-300 
    block 
    w-full 
    p-2.5
    dark:bg-gray-700 
    dark:border-gray-600 
    dark:placeholder-gray-400 
    dark:text-white 
    dark:focus:ring-blue-300 
    dark:focus:border-blue-300;
}

.aniFadeIn {
  animation-name: aniFadeIn;
  animation-duration: 3s;
}

@keyframes aniFadeIn {
  from {
    margin-left: 100px;
    opacity: 0;
  }

  to {
    margin: 0;
    opacity: 1;
  }
}
